node_modules
.DS_Store
coverage
_docpress

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/markdown-navigator/*
config/local*
/deps/package-lock.json
/xp-tmp-example/package-lock.json
